h1{
    text-align: center;
    
    line-height: 1.5;
    font-size: 60;
    
}
h2{
    color:red;
    line-height : 1.0;
    font-size:20;
}
p{
    line-height: 2.0;
    font-size: 20;
    text-align: justify;
    color:blue;
    padding: 10px;
    margin: 40px;
}
p.first{
    line-height: 1.5;
    font-size: 20;
    color:red;
}
img {
    float:left;;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}
#setright{
    float:right;
}
br{
    <br>
    <br>
    <br><br><br><br>

}
body {
    background-image: url(http://wallpaper.imcphoto.net/pictures/2/flowers/pink-rose.jpg);
    background-repeat: repeat-x;
}
#sec{
    color:purple;
}
#third{
    color:darkorange;
}
#fourth{
    color:darkmagenta;
}
footer{
    align-content: center;
    color: red;
    font-size: 50px;
}